<app-navbar></app-navbar>

<div class="row mt-5"></div>
<div class="row mt-4"></div>

<section class="custom-section" id="hero">
  <section class="hero min-vh-50">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6">
          <div class="left-side">
            <img class="img-fluid" src="../../../assets/img/optimise-me.png" alt="Personal Image" />
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6 mt-5">
          <div class="right-side">
            <div class="introduction">
              <span class="subtitle mb-md-5 fw-bold indie-flower-regular">INTRODUCTION</span>
              <h1 class="title mt-lg-5 abril-fatface-regular">
                Hi, I'm <span class="highlight-text ">ArunKumar</span><br />
              </h1>
              <h1 class="title mt-2 d-flex align-items-end gap-3 abril-fatface-regular">
                <span class="a highlight-text">A</span>
                <span class="element">{{ currentWord }}</span>
              </h1>
              <p class="mt-2 description fw-bold ga-maamli-regular">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                eligendi laboriosam culpa, optio possimus quo necessitatibus
                voluptas, quidem ullam alias maiores.
              </p>
            </div>

            <div class="d-lg-flex mt-lg-5 align-items-center gap-3">
              <button type="button" class="btn-about rounded-1" routerLink="'/'" fragment="about">
                About me
              </button>
              <ul class="list-unstyled d-flex gap-2 m-0">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100030711361794" target="_blank" class="text-white px-1 fs-4"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/a_r_u_n__r_o_c_k/" target="_blank" class="text-white px-1 fs-4"><i class="bi bi-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/arun-kumar-38915a260/" target="_blank" class="text-white px-1 fs-4"><i class="bi bi-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>







<!-- about -->
<section class="default-section py-5" id="about">
  <!-- title -->
  <div class="container text-center appear-animation">
    <span class="intro-text indie-flower-regular">My Intro</span>
    <h2 class="section-title abril-fatface-regular">About <span class="highlight-text">Me</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-lg-5 appear-animation">
    <div class="row">

      <div class="col-lg-6">
        <!-- content-left -->
        <div class="content-left">
          <img class="img-fluid about-img" src="https://themetech.net/rubel/assets/img/About/about.png" alt="Personal Image" />
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="text-gray text-left ">PERSONAL INFOS:</h3>
        <div class="row mt-4 px-2">
          <div class="col">
            <div class="row mb-3" *ngFor="let value of aboutText">
              <div class="d-lg-flex justify-content-between align-items-center">
                <div class="col-md-12 col-lg-auto">
                  <h5 class="text-dark-gray fw-bold mb-0">{{ value.option }}</h5>
                </div>
                <div class="col-md-12 col-lg-6 text-break text-wrap">
                  <h5 class="text-gray fw-bold mb-0">{{ value.answer }}</h5>
                </div>
              </div>
            </div>
            <button type="button" class="btn-about btn-about rounded-1 mt-3" routerLink="'/'" fragment="contact">
              Hire me
            </button>
          </div>
        </div>
      </div>




    </div>
  </div>




</section>







<!-- resume -->
<section class="default-section py-5"  id="service">
  <!-- title -->
  <div class="container text-center appear-animation">
    <span class="intro-text indie-flower-regular">Check Out Of My Resume</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Resume</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-5 appear-animation">
    <div class="row text-center">
      <div class="col-lg-6">
        <h2 class="text-white">Education</h2>

        <div class="row  mt-4">
          <div class="col-auto">
            <span class="box m-0 p-0"></span>
            <div class="vertical m-0 p-0"></div>
          </div>
          <div class="col m-0 p-0">
            <div class="card text-center">
              <h4 class="text-white fw-bold">B.Sc. Computer Science</h4>
              <h6 class="text-white fw-bold mt-4">PARK's College</h6>
              <p class="text-white fw-bold mt-4">
                Graduated with a B.Sc. in Computer Science from PARK's College, with a focus on software development, 
                data structures, and algorithms. Gained hands-on experience through projects and internships.
              </p>
            </div>
            
          </div>
        </div>


      </div>
      <div class="col-lg-6">
        <h2 class="text-white">Experience</h2>

        <div class="row  mt-4">
          <div class="col-auto">
            <span class="box m-0 p-0"></span>
            <div class="vertical m-0 p-0"></div>
          </div>
          <div class="col m-0 p-0">
            <div class="card text-center">
              <h4 class="text-white fw-bold">Web, App Design and Development</h4>
              <h6 class="text-white fw-bold mt-4">VSSPL - 2023 to Present</h6>
              <p class="text-white fw-bold mt-4">
                Currently working at Varnik System Service Pvt Ltd (VSSPL) in Madurai. Specializing in designing and developing 
                web and mobile applications, and contributing to various projects with a focus on user experience and 
                efficient code architecture.
              </p>
            </div>
            
          </div>
        </div>


       

      </div>
    </div>
  </div>


</section>






<!-- Skills -->

<section class="custom-section py-5 skill">


  <!-- title -->
  <div class="container text-center appear-animation">
    <span class="intro-text indie-flower-regular">My Level Of Knowledge In Some Tools</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Skills</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-5 appear-animation">
    <div class="row">



      <div class="col-lg-6 col-md-6">
        <h2 class="text-white">Design Skill</h2>

        <div class="row  px-lg-2 mt-4">

          <div class="card">

            <div class="">
              <h6 class="text-white">Photoshop</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 90%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(90% - 33px)'}">
                90%
              </div>             
              
            </div>



            <div class="">
              <h6 class="text-white">Figma</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 75%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(75% - 33px)'}">
                75%
              </div>     
            </div>



            <div class="">
              <h6 class="text-white">Design</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 85%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(85% - 33px)'}">
                85%
              </div>    
            </div>

            
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-md-6">
        <h2 class="text-white">code Skill</h2>

        <div class="row  px-lg-2 mt-4">

          <div class="card">

            <div class="">
              <h6 class="text-white">Html</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 90%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(90% - 33px)'}">
                90%
              </div>             
              
            </div>



            <div class="">
              <h6 class="text-white">Css</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 75%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(75% - 33px)'}">
                75%
              </div>     
            </div>



            <div class="">
              <h6 class="text-white">bootstrap</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 85%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(85% - 33px)'}">
                85%
              </div>    
            </div>



            <div class="">
              <h6 class="text-white">sass</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 80%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(80% - 33px)'}">
                80%
              </div>    
            </div>



            <div class="">
              <h6 class="text-white">Typescript</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 70%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(70% - 33px)'}">
                70%
              </div>    
            </div>



            <div class="">
              <h6 class="text-white">Flutter</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 75%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(75% - 33px)'}">
                75%
              </div>    
            </div>



            <div class="">
              <h6 class="text-white">dart</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 60%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(60% - 33px)'}">
                60%
              </div>    
            </div>


            <div class="">
              <h6 class="text-white">REST Api's</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" style="width: 40%;" aria-valuemin="20"
                  aria-valuemax="100" id="progressTooltip"></div>
              </div>
              <div class="tool-tip" [ngStyle]="{'left': 'calc(40% - 33px)'}">
                40%
              </div>    
            </div>

            
          </div>
        </div>
      </div>


    </div>
  </div>


</section>





<!-- services -->

<section class="default-section py-5 service">
   <!-- title -->
   <div class="container text-center  appear-animation">
    <span class="intro-text indie-flower-regular">Services I Offer To My Clients</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Services</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>


  <div class="container mt-5  appear-animation">
    <div class="row">      
      
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-building fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">Web Design</h4>
            <p class="text-dark-gray mt-4 px-3">
              Specializing in creating visually appealing and user-friendly website designs.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-google-play fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">Flutter App Development</h4>
            <p class="text-dark-gray mt-4 px-3">
              Building high-performance, cross-platform mobile applications using Flutter.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-code fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">Web Development</h4>
            <p class="text-dark-gray mt-4 px-3">
              Developing dynamic and responsive websites with robust back-end solutions.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-image fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">Photoshop</h4>
            <p class="text-dark-gray mt-4 px-3">
              Expertise in photo editing and graphic design using Adobe Photoshop.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-gear fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">REST APIs</h4>
            <p class="text-dark-gray mt-4 px-3">
              Developing and integrating RESTful APIs for seamless data exchange.
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4  col-md-6">
        <div class="card">
          <div class="text-center py-3">
            <i class="bi bi-brush fw-bold fs-1"></i>
            <h4 class="mt-3 mb-2 text-white">Figma</h4>
            <p class="text-dark-gray mt-4 px-3">
              Creating interactive and collaborative design prototypes using Figma.
            </p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  


</section>




<!-- testimonial -->


<section class="custom-section py-5 testimonial">


  <!-- title -->
  <div class="container text-center">
    <span class="intro-text indie-flower-regular">What Clients Say</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Testimonial</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-5">
    <div class="row">
      

      <div class="carousel-container">
        <!-- Slick Carousel -->
        <ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slideConfig">
          
          <div ngxSlickItem class="slide" *ngFor="let item of [1, 1, 1,1]">
            <div class="row mx-2">
              <div class="card">
                <div class="text-center">
                  <div class="d-flex justify-content-center">
                    <!-- <img src="../../../assets/img/logo.png" width="100" height="100" class="mx-auto d-block" alt=""> -->
                     <h4 class="text-white"> Web & App UI/UX Design </h4>
                  </div>
                  <p class="px-2 text-dark-gray">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore esse molestias, molestiae consequatur hic inventore error magni magnam ea reiciendis mollitia repellat vero.
                  </p>
                  <p>
                    <i class="bi bi-star-fill px-1" *ngFor="let a of [1,1,1,1]"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
      
        </ngx-slick-carousel>
      </div>
      
      


<!-- 
      <div class="col-lg-4  col-md-6">
        <div class="card">
          <div class="text-center">
            <div>
              <img src="../../../assets/img/logo.png" width="100" height="100" alt="">
            </div>
            <p class="px-2 text-dark-gray">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
               Dolore esse molestias, molestiae consequatur hic inventore error 
               magni magnam ea reiciendis mollitia repellat vero.
            </p>
            <p>
              <i class="bi bi-star-fill px-1" *ngFor="let a of [1,1,1,1]"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4  col-md-6">
        <div class="card">
          <div class="text-center">
            <div>
              <img src="../../../assets/img/logo.png" width="100" height="100" alt="">
            </div>
            <p class="px-2 text-dark-gray">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
               Dolore esse molestias, molestiae consequatur hic inventore error 
               magni magnam ea reiciendis mollitia repellat vero.
            </p>
            <p>
              <i class="bi bi-star-fill px-1" *ngFor="let a of [1,1,1,1]"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4  col-md-6">
        <div class="card">
          <div class="text-center">
            <div>
              <img src="../../../assets/img/logo.png" width="100" height="100" alt="">
            </div>
            <p class="px-2 text-dark-gray">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
               Dolore esse molestias, molestiae consequatur hic inventore error 
               magni magnam ea reiciendis mollitia repellat vero.
            </p>
            <p>
              <i class="bi bi-star-fill px-1" *ngFor="let a of [1,1,1,1]"></i>
            </p>
          </div>
        </div>
      </div> -->

    </div>
  </div>


</section>




<!-- WorkingStatistics -->


<section class="custom-section py-5 Working">


  <!-- title -->
  <div class="container text-center  appear-animation">
    <span class="intro-text indie-flower-regular">This Are My Strongest Sides</span>
    <h2 class="section-title abril-fatface-regular">Working <span class="highlight-text">Statistics</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-5 appear-animation">
    <div class="row">


      <div class="col-lg-3  col-md-6">
        <div class="card">
          <div class="text-center">
           <h2 class="text-white fw-bold">55+</h2>
           <p class="text-gray">Happy clients</p>
          </div>
        </div>
      </div>


      <div class="col-lg-3  col-md-6">
        <div class="card">
          <div class="text-center">
           <h2 class="text-white fw-bold">23+</h2>
           <p class="text-gray">Award Winning</p>
          </div>
        </div>
      </div>


      <div class="col-lg-3  col-md-6">
        <div class="card">
          <div class="text-center">
           <h2 class="text-white fw-bold">15+</h2>
           <p class="text-gray">completed project</p>
          </div>
        </div>
      </div>


      <div class="col-lg-3  col-md-6">
        <div class="card">
          <div class="text-center">
           <h2 class="text-white fw-bold">817+</h2>
           <p class="text-gray">cup of coffess</p>
          </div>
        </div>
      </div>



    </div>
  </div>


</section>





<!-- portfolio -->

<section class="default-section py-5 Working"  id="Working">


  <!-- title -->
  <div class="container text-center appear-animation">
    <span class="intro-text indie-flower-regular">Showcasing Some Of My Best Work</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Portfolio</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
  </div>

  <!-- content-body -->
  <div class="container mt-5">

    <div class="row text-center">
      <div>
        <button class="animated-button-active m-2" (click)="filterWorkingImages('all')">
          <h6>All</h6>
        </button>
        <button class="animated-button m-2" (click)="filterWorkingImages('web')">
          <h6>Web Design</h6>
        </button>
        <button class="animated-button m-2" (click)="filterWorkingImages('app')">
          <h6>Mobile App</h6>
        </button>
        <button class="animated-button m-2" (click)="filterWorkingImages('figma')">
          <h6>Figma</h6>
        </button>
      </div>
    </div>
    

    
    <div class="row mt-3">

      <div class="col-lg-3 col-md-4 col-6 p-2" *ngFor="let data of filteredPortFolioImages; let i = index">
        <div class="portfolio-image-container">
         <a [href]='data.imagepath'>
          <img [src]="data.imagepath" class="img-fluid portfolio-image" width="100%" alt="working Image +{{i}}">
         </a>
        </div>
      </div>
      

    </div>
  </div>


</section>






<!-- portfolio -->




<section class="custom-section py-5 contact" id="contact">


  <!-- title -->
  <div class="container text-center  appear-animation">
    <span class="intro-text indie-flower-regular">Contact</span>
    <h2 class="section-title abril-fatface-regular">My <span class="highlight-text">Contact</span></h2>
    <div class="animation-container mt-3">
      <span class="shrinking-line animated-line"></span>
      <span class="static-line"></span>
      <span class="expanding-line animated-line"></span>
    </div>
    <p class="text-gray mt-3">Please fill out the form on this section to contact with me.  Or call between 9:00 a.m. <br>and 8:00 p.m. ET, Monday through Friday</p>
  </div>

  <!-- content-body -->
  <div class="container mt-5 appear-animation">
    <div class="row py-lg-5">
      
      <div class="col-lg-6">

        <div class="row mb-4">
          <div class="col-auto">
            <div class="icon">
              <i class="bi bi-geo-alt-fill fs-3"></i>
            </div>
          </div>
          <div class="col">
            <h4 class="text-white">Address</h4>
            <p class="text-gray">2/168 b, Iduvampalayam, Tirupu- 641 687</p>
          </div>
        </div>


        <div class="row mb-4">
          <div class="col-auto">
            <div class="icon">
              <i class="bi bi-envelope-fill fs-3"></i>
            </div>
          </div>
          <div class="col">
            <h4 class="text-white">E-mail Us</h4>
            <p class="text-gray">arunrock1264708&#64;gmail.com</p>
          </div>
        </div>



        <div class="row">
          <div class="col-auto">
            <div class="icon">
              <i class="bi bi-telephone-fill fs-3"></i>
            </div>
          </div>
          <div class="col">
            <h4 class="text-white">Contact</h4>
            <p class="text-gray">+91 96988 77357</p>
          </div>
        </div>


      </div>


      <div class="col-lg-6 text-start">
        <form [formGroup]="personalForm">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="name" placeholder="Your Name"
             [ngClass]="{'is-invalid': personalForm.get('name')?.invalid && personalForm.get('name')?.touched,
             'is-valid': personalForm.get('name')?.valid && personalForm.get('name')?.touched}"
             >
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" formControlName="email" placeholder="Your Email"
            [ngClass]="{'is-invalid': personalForm.get('email')?.invalid && personalForm.get('email')?.touched,
             'is-valid': personalForm.get('email')?.valid && personalForm.get('email')?.touched}"
            >
          </div>
        </div>
      
        <div class="row mt-4">
          <div class="col-12">
            <textarea class="form-control" placeholder="Your Message" formControlName="message" rows="5"
            [ngClass]="{'is-invalid': personalForm.get('message')?.invalid && personalForm.get('message')?.touched,
             'is-valid': personalForm.get('message')?.valid && personalForm.get('message')?.touched}"
            ></textarea>
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-12">
            <button type="button" class="btn-about rounded-1 mt-3" (click)="formValidation()">
              Send request
            </button>
          </div>
        </div>
      </form>
      </div>
      



    </div>


    <div class="row">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1215.2661168571135!2d77.31136414745136!3d11.079258999157375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba9076740f6307d%3A0xb90f0e297024c793!2s38H6%2BW84%2C%20Iduvampalayam%2C%20Tiruppur%2C%20Murugampalayam%2C%20Tamil%20Nadu%20641687!5e0!3m2!1sen!2sin!4v1740805680184!5m2!1sen!2sin"
       width="600" height="350" class="rounded-3" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>


</section>







<section class="default-section py-4">
  <div class="container pb-2 pt-4 d-flex justify-content-between align-items-center">
    <p class="text-white fw-bold">Copyright © {{currentYear}} All Rights Reserved.</p>
    <p class="text-white fw-bold">Designed & Developed by <a type="button" class="text-decoration-none" style="color: #FF4904;">ArunKumar</a></p>
  </div>
</section>